<!-- templates/process_payment.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Process Payment</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Process Payment</h1>
        <form method="post">
            {% csrf_token %}
            <h2>Address Details</h2>
            {{ address_form.as_p }}

            <h2>Payment Details</h2>
            {{ payment_form.as_p }}

            <button type="submit">Submit Order</button>
        </form>
    </div>
</body>
</html>
